.main_visual {
    position: relative;

    .swiper {
        width: 100%;
        height: 100%;
    }

    .itm {
        position: relative;
        z-index: 990;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            width: 900px;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(5px);
        }
    }

    .itm01 {
        height: 100vh;
        background: url(../images/mainVisual03.jpg) no-repeat left center/cover;
    }

    .itm02 {
        height: 100vh;
        background: url(../images/mainVisual02.jpg) no-repeat center center/cover;
    }

    .itm03 {
        height: 100vh;
        background: url(../images/mainVisual04.jpg) no-repeat left center/cover;
    }

    .slogan {
        position: absolute;
        bottom: 300px;
        left: 185px;
        text-transform: uppercase;

        h3 {
            font-size: 52px;
            font-weight: 700;
            text-indent: -2px;
            width: 680px;
            margin: 0 0 14px 0;
            color: $c-w;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        p {
            font-size: 16px;
            line-height: 20px;
            margin: 0 0 32px 0;
            color: $c-gb ;
            word-break: keep-all;
        }

        a {
            display: inline-block;
            padding: 10px 25px 9px 25px;
            color: $c-w;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 8px;
        }

    }

    .arrows {
        position: absolute;
        left: 177px;
        bottom: 550px;
        z-index: 999;

        i {
            padding: 5px;
            font-size: 16px;
            color: $c-w;
            cursor: pointer;
        }

        .left {
            position: absolute;
            bottom: 0;
            left: 0;
        }


        .right {
            position: absolute;
            bottom: 0;
            left: 35px;
        }
    }

    .scroll {
        position: absolute;
        bottom: 300px;
        left: 80px;
        z-index: 999;
        user-select: none;

        &::before {
            content: "";
            position: absolute;
            top: -110px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $c-wb;

            animation: scr 3s infinite;
        }

        @keyframes scr {
            0% {
                transform: translate(-50%, 0);
                opacity: 0%;

            }

            70% {

                transform: translate(-50%, 67px);
                opacity: 100%;
            }

            100% {
                transform: translate(-50%, 0);
                opacity: 0%;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -122px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 28px;
            height: 100px;
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.5);

        }

        span {
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            color: $c-g;

            writing-mode: vertical-lr;
            letter-spacing: 5px;
        }

    }
}

@media (max-width:768px) {
    .main_visual {
        height: 500px;
    }
}

.main_news {
    .title {
        text-align: right;
    }

    .content {
        padding: 120px 0 0 0;
    }

    .board {
        display: grid;
        grid-template-columns: 1fr 350px;
        gap: 10px;

        .news_left {
            display: block;

            &>* {
                height: 300px;
            }

            .news_box {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .nl {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .img_box {
                    order: 2;
                }

                .desc {
                    text-align: right;
                    order: 1;
                }
            }

            .img_box {
                overflow: hidden;

                img {
                    filter: grayscale(0.3);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }

            .desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 30px;
                word-break: keep-all;
                background: $c-wb;

                strong {
                    display: block;
                    font-size: 24px;
                    font-weight: 600;
                    margin: 0 0 16px 0;
                }

                p {
                    font-size: 15px;
                    line-height: 20px;
                    margin: 0 0 32px 0;
                }

                a {
                    display: block;

                    &>span {
                        position: relative;
                        font-weight: 700;

                        &::after {
                            content: " \e90b";
                            font-family: xeicon;
                            vertical-align: -1px;
                            font-weight: 400;

                        }
                    }
                }
            }
        }

        .news_slide {
            border: 1px solid $c-line;
            width: 100%;

            .desc {
                display: flex;
                flex-direction: column;
                height: 250px;
                padding: 24px 26px 24px 26px;
                background: $c-wb;

                strong {
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0 0 14px 0;
                }

                p {
                    font-size: 15px;
                    line-height: 20px;
                    margin: 0 0 auto 0;
                }

                a {
                    display: block;
                    text-align: center;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                    padding: 8px;
                }
            }

            .news_arrow {
                position: absolute;
                bottom: 250px;
                right: 0;

                z-index: 2;

                display: flex;

                i {
                    display: block;
                    padding: 10px;
                    background: $c-wb;
                    cursor: pointer;
                }

                .nleft {
                    border-right: 1px solid $c-line;
                }
            }
        }
    }
}

.main_motorcycle {
    position: relative;
    background: $c-wb;

    .motor_left {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 700px;
        z-index: 990;
        background: url(../images/BG02.jpg)no-repeat fixed right top/cover;
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
        transition: 0.5s 0.7s;



        .tit {
            position: absolute;
            bottom: 130px;
            left: 50%;
            transform: translate(-50%, 0);
            width: calc(100% - 150px);
            text-align: right;
            color: $c-w;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

            span {
                display: inline-block;
                font-size: 20px;
                font-weight: 300;
                margin: 0 0 8px 0;
                text-indent: -2px;
            }

            h3 {
                font-size: 56px;
                line-height: 60px;
                font-weight: 800;
            }
        }
    }

    &.active {
        .motor_left {
            left: 0;
            transition: 0.5s 0.3s;
        }
    }



    .motor_slide {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        width: calc(100% - 700px);
        height: 100%;
        padding: 100px 50px 70px 50px;
        background: $c-wb;

        .swiper-wrapper {
            margin: 0 0 16px 0;
        }

        .swiper-slide {
            text-align: center;
            height: calc((100% - 30px) / 2) !important;
        }

        .product {
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            background: $c-w;
        }

        .txt {
            padding: 30px 20px;

            strong {
                display: block;
                font-size: 22px;
                font-weight: 600;
                margin: 0 0 8px 0;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                margin: 0 0 24px 0;
            }

            span {
                font-size: 16px;
                font-weight: 500;
            }

            a {
                display: inline-block;
                padding: 7px 20px 6px 20px;
                font-size: 14px;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }
        }

        .dots {
            text-align: center;

            .swiper-pagination-bullet-active {
                background: $c-main ;
            }
        }
    }
}

.main_collection {

    .content {
        padding: 180px 0;
    }

    .slogan {
        position: relative;
        z-index: 2;
        height: 250px;
        border-radius: 8px;
        overflow: hidden;
        background: url(../images/BG03.jpg) no-repeat left center/cover;
        margin: 0 0 48px 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;

        &::before {
            content: "";
            position: absolute;
            inset: 0 0 0 0;
            z-index: -1;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 70%);
        }

        .txt {
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            color: $c-w;
        }
    }


    .col_best {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
        height: 100%;

        li {
            background: $c-wb;
            border-radius: 8px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

            .img_box {
                overflow: hidden;
            }

            .desc {
                position: relative;
                padding: 30px;

                &::before {
                    content: "120TH ANNIVERSARY";
                    display: block;
                    margin: 0 0 8px 0;
                    font-size: 14px;
                    font-weight: 500;
                    color: $c-sub;
                }

                strong {
                    display: block;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 700;
                    margin: 0 0 24px 0;
                }

                .price {
                    font-size: 15px;
                }
            }
        }

        .more {
            padding: 30px;
            background: $c-main;

            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }

            strong {
                display: block;
                font-size: 28px;
                font-weight: 700;
                text-indent: -2px;
                margin: 0 0 16px 0;
                color: $c-w;
            }

            p {
                margin: 0 0 auto 0;
                color: $c-w;
            }
        }
    }
}