//variable

$c-w : #fff;
$c-wb : #f7f8f9;
$c-line : #f2f2f2;
$c-g : #ddd;
$c-gb : #e5e5e5;
$c-9 : #999;
$c-6 : #666;
$c-4 : #444;
$c-3 : #333;
$c-2 : #222;
$c-b : #000;
$c-main : #fa6600;
$c-sub: #ad4c0b;

$max : 1440px;