@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


body {
    font-family: 'Roboto', 'Noto Sans Kr', sans-serif;
    word-break: keep-all;
}

img {
    filter: grayscale(0.4);
}

.section {
    padding: 100px 0;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.line {
    max-width: 1170px;
    margin: 0 auto;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}


/* .title {
    max-width: 1200px;
    margin: 0 auto 38px auto;
    padding: 0 15px;
    text-align: left;
} */

.title h2 {
    font-size: 40px;
    font-family: 'Instrument Serif';
    text-transform: uppercase;
}

.title p {
    word-break: keep-all;
    font-size: 16px;
    line-height: 20px;
    color: #444;
}

.btn {
    display: inline-block;
    padding: 10px 20px 8px 20px;
    border: 1px solid #333;
    color: #333;
    font-size: 14px;
}

.btn.wc {
    display: inline-block;
    padding: 10px 20px 8px 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: #f9f9f9;
    font-size: 14px;
}