@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  color: inherit;
}

*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

address,
em,
i {
  font-style: normal;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.0025em;
  word-break: keep-all;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.title {
  text-align: right;
  margin: 0 0 32px 0;
}
.title h3 {
  position: relative;
  font-size: 56px;
  font-weight: 800;
  text-indent: -2px;
  text-transform: uppercase;
  margin: 0 0 8px 0;
}
.title h3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 40%;
  height: 5px;
  background: #fa6600;
}
.title strong {
  display: block;
  font-size: 20px;
}

@media (max-width: 768px) {
  .title {
    text-align: left;
  }
  .title h3 {
    position: relative;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .title h3::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    transform: translate(0, 0);
    width: 30px;
    height: 5px;
    background: #fa6600;
  }
  .title strong {
    display: block;
    font-size: 16px;
  }
}
.btn2w {
  display: block;
  font-size: 14px;
  padding: 10px 20px 8px 20px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #f2f2f2;
}

.btn2b {
  display: block;
  font-size: 14px;
  padding: 10px 20px 8px 20px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #222;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 90%);
}
.header .header_wrap {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header .header_wrap h1 img {
  width: 80px;
  filter: invert(1);
}
.header .gnb > ul {
  display: flex;
  gap: 30px;
}
.header .gnb > ul > li a {
  display: block;
  text-transform: uppercase;
  color: #ddd;
  white-space: nowrap;
}
.header .gnb > ul > li:hover a {
  color: #fff;
}
.header .user_area {
  position: relative;
}
.header .user_area i {
  position: relative;
}
.header .user_area i::before {
  content: "\e91c";
  font-family: xeicon;
  display: block;
  font-size: 24px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.header .user_area i.on::before {
  content: "\e921";
  font-family: xeicon;
}
.header .user_area .user_nav {
  position: absolute;
  top: 0;
  right: 60px;
  display: none;
  transition: 0.5s;
}
.header .user_area .user_nav > li {
  text-align: right;
}
.header .user_area .user_nav > li a {
  display: block;
  white-space: nowrap;
  color: #ddd;
}
.header .user_area .user_nav > li a span {
  line-height: 40px;
}
.header .user_area .user_nav > li:hover a {
  color: #fff;
}
.header .user_area .user_nav.on {
  display: flex;
  gap: 30px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0, -100%);
  z-index: -1;
  height: 110px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  background: #222;
  transition: 0.7s;
}
.header.on {
  background: rgba(0, 0, 0, 0);
}
.header.on::before {
  transform: translate(0, 0);
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
  }
  .header .content {
    display: block;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    transition: 0.5s;
  }
  .header .header_wrap h1 {
    position: fixed;
    top: 30px;
    left: 24px;
    z-index: 1000;
    transition: 0.5s;
  }
  .header .header_wrap h1 img {
    width: 50px;
    filter: invert(0);
  }
  .header .gnb {
    position: absolute;
    top: 0;
    left: 100%;
    right: 0;
    z-index: 980;
    height: 100vh;
    background: #fff;
    transition: 0.5s;
  }
  .header .gnb > ul {
    flex-direction: column;
    padding: 150px 0 0 30px;
  }
  .header .gnb > ul > li {
    position: relative;
  }
  .header .gnb > ul > li a {
    color: #444;
  }
  .header .gnb > ul > li:hover a {
    color: inherit;
  }
  .header .gnb > ul > li:not(:first-child)::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 70%;
    height: 1px;
    background: #ddd;
  }
  .header .gnb.on {
    left: 0;
  }
  .header .user_area {
    display: none;
  }
  .header::before {
    display: none;
  }
  .header.on {
    background: none;
  }
  .header.on::before {
    display: none;
  }
  .header .mmenu {
    display: none;
  }
}
@media (max-width: 768px) {
  .header .mmenu {
    display: block;
    position: fixed;
    top: 32px;
    right: 24px;
    z-index: 1001;
    width: 35px;
    height: 35px;
    transition: 0.5s;
  }
  .header .mmenu::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 7px;
    right: 7px;
    height: 2px;
    background: #222;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  .header .mmenu::after {
    content: "";
    position: absolute;
    bottom: 9px;
    left: 7px;
    right: 7px;
    height: 2px;
    background: #222;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
  }
  .header .mmenu > i::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    right: 7px;
    height: 2px;
    background: #222;
    transform: translate(0, -50%);
    transition: 0.5s;
  }
  .header .mmenu > i::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 7px;
    right: 7px;
    height: 2px;
    background: #222;
    transform: translate(0, -50%);
    transition: 0.5s;
  }
  .header .mmenu.on {
    background: #ddd;
    border-radius: 50%;
  }
  .header .mmenu.on::before {
    opacity: 0;
    visibility: hidden;
  }
  .header .mmenu.on::after {
    opacity: 0;
    visibility: hidden;
  }
  .header .mmenu.on > i::before {
    background: #666;
    transform: translate(0, -50%) rotate(45deg);
  }
  .header .mmenu.on > i::after {
    background: #666;
    transform: translate(0, -50%) rotate(-45deg);
  }
}
@media (max-width: 768px) {
  .header.mobile_on .content {
    height: 80px;
    background: #444;
    border-bottom: none;
  }
  .header.mobile_on .header_wrap h1 {
    top: 20px;
  }
  .header.mobile_on .header_wrap h1 img {
    filter: invert(1);
  }
  .header.mobile_on .gnb {
    background: #222;
  }
  .header.mobile_on .gnb > ul > li a {
    color: #f7f8f9;
  }
  .header.mobile_on .gnb > ul > li:not(:first-child)::before {
    background: #444;
  }
  .header.mobile_on .mmenu {
    top: 24px;
  }
  .header.mobile_on .mmenu::before {
    background: #e5e5e5;
  }
  .header.mobile_on .mmenu::after {
    background: #e5e5e5;
  }
  .header.mobile_on .mmenu > i::before {
    background: #e5e5e5;
  }
  .header.mobile_on .mmenu > i::after {
    background: #e5e5e5;
  }
  .header.mobile_on .mmenu.on {
    background: #222;
  }
}
.main_visual {
  position: relative;
}
.main_visual .swiper {
  width: 100%;
  height: 100%;
}
.main_visual .swiper-slide {
  position: relative;
  overflow: hidden;
  height: 500px;
}
.main_visual .slide-image {
  position: absolute;
  inset: 0 0 0 0;
}
.main_visual .itm {
  position: relative;
  z-index: 990;
}
.main_visual .itm::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 900px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.main_visual .itm01 {
  height: 100vh;
  background: url(../images/mainVisual01.jpg) no-repeat left center/cover;
}
.main_visual .itm02 {
  height: 100vh;
  background: url(../images/mainVisual02.jpg) no-repeat center center/cover;
}
.main_visual .itm03 {
  height: 100vh;
  background: url(../images/mainVisual03.jpg) no-repeat left center/cover;
}
.main_visual .slogan {
  position: absolute;
  bottom: 300px;
  left: 185px;
  text-transform: uppercase;
}
.main_visual .slogan h3 {
  font-size: 52px;
  font-weight: 700;
  text-indent: -2px;
  width: 680px;
  margin: 0 0 14px 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main_visual .slogan p {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 32px 0;
  color: #e5e5e5;
  word-break: keep-all;
}
.main_visual .slogan a {
  display: inline-block;
  padding: 10px 25px 9px 25px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.main_visual .arrows {
  position: absolute;
  left: 177px;
  bottom: 550px;
  z-index: 999;
}
.main_visual .arrows i {
  padding: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.main_visual .arrows .left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.main_visual .arrows .right {
  position: absolute;
  bottom: 0;
  left: 35px;
}

@media (max-width: 768px) {
  .main_visual {
    height: 500px;
  }
  .main_visual .itm {
    position: relative;
    z-index: 990;
  }
  .main_visual .itm::before {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  .main_visual .itm01 {
    height: 100%;
    background: url(../images/mainVisual01.jpg) no-repeat 75% bottom/cover;
  }
  .main_visual .itm02 {
    height: 100%;
    background: url(../images/mainVisual02.jpg) no-repeat 75% top/cover;
  }
  .main_visual .itm03 {
    height: 100%;
    background: url(../images/mainVisual03.jpg) no-repeat 85% top/cover;
  }
  .main_visual .slogan {
    position: absolute;
    bottom: 50px;
    left: 0;
    transform: translate(0, 0);
    padding: 0 50px;
    text-align: right;
  }
  .main_visual .slogan h3 {
    font-size: 40px;
    width: auto;
  }
  .main_visual .slogan p {
    font-size: 14px;
    line-height: 18px;
  }
  .main_visual .slogan a {
    display: inline-block;
    padding: 10px 25px 9px 25px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
  }
  .main_visual .arrows {
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0);
    width: 100%;
  }
  .main_visual .arrows i {
    padding: 5px;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
  }
  .main_visual .arrows .left {
    position: absolute;
    bottom: 0;
    left: 15px;
  }
  .main_visual .arrows .right {
    position: absolute;
    bottom: 0;
    left: 50px;
  }
}
.main_news .content {
  padding: 120px 0 0 0;
}
.main_news .board {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 10px;
}
.main_news .board .news_left {
  display: block;
}
.main_news .board .news_left > * {
  height: 300px;
}
.main_news .board .news_left .news_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main_news .board .news_left .nl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main_news .board .news_left .nl .img_box {
  order: 2;
}
.main_news .board .news_left .nl .desc {
  text-align: right;
  order: 1;
}
.main_news .board .news_left .img_box {
  overflow: hidden;
}
.main_news .board .news_left .img_box img {
  filter: grayscale(0.3);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
.main_news .board .news_left .img_box:hover img {
  transform: scale(1.1);
}
.main_news .board .news_left .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  word-break: keep-all;
  background: #f7f8f9;
}
.main_news .board .news_left .desc strong {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin: 0 0 16px 0;
}
.main_news .board .news_left .desc p {
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 32px 0;
}
.main_news .board .news_left .desc a {
  display: block;
}
.main_news .board .news_left .desc a > span {
  position: relative;
  font-weight: 700;
}
.main_news .board .news_left .desc a > span::after {
  content: " \e90b";
  font-family: xeicon;
  vertical-align: -1px;
  font-weight: 400;
}
.main_news .board .news_slide {
  border: 1px solid #f2f2f2;
  width: 100%;
}
.main_news .board .news_slide .desc {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 24px 26px 24px 26px;
  background: #f7f8f9;
}
.main_news .board .news_slide .desc strong {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 14px 0;
}
.main_news .board .news_slide .desc p {
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 auto 0;
}
.main_news .board .news_slide .desc a {
  display: block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px;
}
.main_news .board .news_slide .news_arrow {
  position: absolute;
  bottom: 250px;
  right: 0;
  z-index: 2;
  display: flex;
}
.main_news .board .news_slide .news_arrow i {
  display: block;
  padding: 10px;
  background: #f7f8f9;
  cursor: pointer;
}
.main_news .board .news_slide .news_arrow .nleft {
  border-right: 1px solid #f2f2f2;
}

@media (max-width: 768px) {
  .main_news {
    padding: 100px 0;
  }
  .main_news .content {
    padding: 0 24px;
  }
  .main_news .board {
    display: block;
  }
  .main_news .board .news_left > * {
    height: auto;
  }
  .main_news .board .news_left .news_box {
    display: block;
    margin: 0 0 24px 0;
  }
  .main_news .board .news_left .nl {
    display: block;
  }
  .main_news .board .news_left .nl .desc {
    text-align: left;
  }
  .main_news .board .news_left .img_box {
    overflow: hidden;
  }
  .main_news .board .news_left .img_box img {
    transition: 0s;
  }
  .main_news .board .news_left .img_box:hover img {
    transform: scale(1);
  }
  .main_news .board .news_left .desc {
    padding: 30px 30px 40px 30px;
  }
  .main_news .board .news_slide {
    border: none;
  }
  .main_news .board .news_slide .media_card {
    display: flex;
  }
  .main_news .board .news_slide .media_card > * {
    flex: 1;
  }
  .main_news .board .news_slide .img_box img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main_news .board .news_slide .desc {
    height: auto;
  }
  .main_news .board .news_slide .desc p {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .main_news .board .news_slide .news_arrow {
    bottom: 0;
    right: auto;
    left: 0;
  }
}
.main_motorcycle {
  position: relative;
  background: #f7f8f9;
}
.main_motorcycle .motor_left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 700px;
  z-index: 990;
  background: url(../images/BG01.jpg) no-repeat fixed right top/cover;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s 0.7s;
}
.main_motorcycle .motor_left .tit {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  width: calc(100% - 150px);
  text-align: right;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.main_motorcycle .motor_left .tit span {
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 8px 0;
}
.main_motorcycle .motor_left .tit h3 {
  font-size: 56px;
  line-height: 60px;
  font-weight: 800;
}
.main_motorcycle .motor_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: calc(100% - 700px);
  height: 100%;
  padding: 100px 50px 70px 50px;
  background: #f7f8f9;
}
.main_motorcycle .motor_slide .swiper-wrapper {
  margin: 0 0 16px 0;
}
.main_motorcycle .motor_slide .swiper-slide {
  text-align: center;
  height: calc((100% - 30px) / 2) !important;
}
.main_motorcycle .motor_slide .product {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.main_motorcycle .motor_slide .txt {
  padding: 30px 20px;
}
.main_motorcycle .motor_slide .txt strong {
  display: block;
  font-size: 22px;
  font-weight: 600;
  margin: 0 0 8px 0;
}
.main_motorcycle .motor_slide .txt p {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 24px 0;
}
.main_motorcycle .motor_slide .txt span {
  font-size: 16px;
  font-weight: 500;
}
.main_motorcycle .motor_slide .txt a {
  display: inline-block;
  padding: 7px 20px 6px 20px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.main_motorcycle .motor_slide .dots {
  text-align: center;
}
.main_motorcycle .motor_slide .dots .swiper-pagination-bullet-active {
  background: #fa6600;
}

@media (max-width: 768px) {
  .main_motorcycle .motor_left {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    margin: 0 0 32px 0;
    background: url(../images/BG01.jpg) no-repeat center center;
    box-shadow: none;
  }
  .main_motorcycle .motor_left::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .main_motorcycle .motor_left .tit {
    position: static;
    transform: translate(0, 0);
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  .main_motorcycle .motor_left .tit h3 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 800;
  }
  .main_motorcycle .motor_slide {
    position: static;
    width: 100%;
    height: auto;
    padding: 0 24px;
  }
  .main_motorcycle .motor_slide .swiper-slide {
    text-align: center;
    height: 100% !important;
  }
  .main_motorcycle .motor_slide .product figure {
    display: flex;
    justify-content: center;
    padding: 30px 15px 0 25px;
  }
  .main_motorcycle .motor_slide .txt {
    padding: 30px;
    text-align: left;
  }
  .main_motorcycle .motor_slide .txt span {
    display: block;
  }
}
.main_collection .content {
  padding: 180px 0;
}
.main_collection .slogan {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  background: url(../images/BG02.jpg) no-repeat left center/cover;
  margin: 0 0 48px 0;
}
.main_collection .slogan::before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  z-index: -1;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 70%);
}
.main_collection .slogan .txt {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  width: 450px;
  margin: 0 0 24px 0;
}
.main_collection .slogan a {
  position: relative;
  z-index: 5;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.main_collection .slogan a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
}
.main_collection .slogan a:hover::before {
  animation: beat 2s infinite;
}
@keyframes beat {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  15% {
    opacity: 35%;
    transform: translate(-50%, -50%) scale(1);
  }
  40% {
    opacity: 0%;
    transform: translate(-50%, -50%) scale(1.7);
  }
}
.main_collection .col_best {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  height: 100%;
}
.main_collection .col_best li {
  background: #f7f8f9;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.main_collection .col_best li .img_box {
  overflow: hidden;
}
.main_collection .col_best li .desc {
  position: relative;
  padding: 30px;
}
.main_collection .col_best li .desc::before {
  content: "120TH ANNIVERSARY";
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 8px 0;
  color: #ad4c0b;
}
.main_collection .col_best li .desc strong {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 24px 0;
}
.main_collection .col_best li .desc .price {
  font-size: 15px;
}
.main_collection .col_best .more {
  padding: 30px;
  background: #fa6600;
}
.main_collection .col_best .more .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.main_collection .col_best .more strong {
  display: block;
  font-size: 28px;
  font-weight: 700;
  text-indent: -2px;
  margin: 0 0 16px 0;
  color: #fff;
}
.main_collection .col_best .more p {
  margin: 0 0 auto 0;
  color: #fff;
}

@media (max-width: 768px) {
  .main_collection {
    padding: 100px 0;
  }
  .main_collection .content {
    padding: 0 24px;
  }
  .main_collection .slogan {
    height: 200px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 30px;
    background: url(../images/BG02.jpg) no-repeat center center/cover;
  }
  .main_collection .slogan::before {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .main_collection .slogan .txt {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
  }
  .main_collection .slogan a {
    width: auto;
    height: auto;
    line-height: 16px;
    padding: 9px 25px 8px 25px;
    border: none;
    border-radius: 4px;
    font-weight: 400;
  }
  .main_collection .slogan a::before {
    display: none;
  }
  .main_collection .slogan a:hover::before {
    animation: none;
  }
  .main_collection .col_best {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    height: auto;
  }
  .main_collection .col_best li .img_box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 100%;
    height: 200px;
  }
  .main_collection .col_best li .desc {
    padding: 20px 15px;
  }
  .main_collection .col_best li .desc::before {
    font-size: 12px;
  }
  .main_collection .col_best li .desc strong {
    line-height: 22px;
  }
  .main_collection .col_best .more {
    padding: 20px;
  }
  .main_collection .col_best .more p {
    margin: 0 0 46px 0;
  }
}
.footer {
  position: relative;
  z-index: 1;
  background: #333;
  padding: 80px 0 100px 0;
}
.footer .footer_top {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 0 80px 0;
}
.footer .footer_top h2 img {
  width: 300px;
}
.footer .footer_top .foot_sns {
  display: flex;
  gap: 10px;
}
.footer .footer_top .foot_sns i {
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  background: #ddd;
  color: #333;
  border-radius: 50%;
}
.footer .footer_top::after {
  content: "";
  position: absolute;
  bottom: -40px;
  width: 100%;
  height: 1px;
  background: #666;
}
.footer .footer-panel {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin: 0 0 64px 0;
}
.footer .footer-panel > li {
  position: relative;
}
.footer .footer-panel > li > a {
  display: block;
  font-size: 22px;
  font-weight: 600;
  color: #f2f2f2;
  margin: 0 0 10px 0;
}
.footer .footer-panel > li .sub a {
  display: block;
  line-height: 30px;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
}
.footer .footer-panel > li .sub a i {
  vertical-align: -2px;
  color: #f2f2f2;
}
.footer .footer-panel > li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 1px;
  height: 170px;
  background: #666;
}
.footer .footer-panel::after {
  content: "";
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 1px;
  background: #666;
}
.footer .footer_bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0 0 64px;
}
.footer .footer_bottom .foot_site {
  display: flex;
  gap: 30px;
}
.footer .footer_bottom .foot_site li {
  position: relative;
}
.footer .footer_bottom .foot_site li a {
  display: block;
}
.footer .footer_bottom .foot_site li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(0, -50%);
  width: 1px;
  height: 12px;
  background: #666;
}
.footer .footer_bottom .foot_customer {
  display: flex;
  gap: 30px;
}
.footer .footer_bottom .foot_customer li {
  position: relative;
}
.footer .footer_bottom .foot_customer li a {
  display: block;
}
.footer .footer_bottom .foot_customer li a.strong {
  font-weight: 15px;
  font-weight: 600;
  color: #fa6600;
}
.footer .footer_bottom .foot_customer li:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translate(0, -50%);
  width: 1px;
  height: 12px;
  background: #666;
}
.footer .footer_bottom::after {
  content: "";
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 1px;
  background: #666;
}
.footer .copy {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #999;
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 0 90px 0;
  }
  .footer .inner {
    padding: 0 24px;
  }
  .footer .footer_top {
    display: block;
  }
  .footer .footer_top h2 {
    text-align: center;
    margin: 0 0 24px 0;
  }
  .footer .footer_top .foot_sns {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .footer .footer_top .foot_sns i {
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    background: #ddd;
    color: #333;
    border-radius: 50%;
  }
  .footer .footer-panel {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 15px;
    margin: 0 0 80px 0;
  }
  .footer .footer-panel > li > a {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 16px 0;
  }
  .footer .footer-panel > li .sub a {
    line-height: 26px;
    color: #e5e5e5;
    font-weight: 100;
  }
  .footer .footer-panel > li:not(:last-child)::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #444;
  }
  .footer .footer-panel::after {
    bottom: -40px;
  }
  .footer .footer_bottom {
    display: block;
    margin: 0 0 80px 0;
  }
  .footer .footer_bottom .foot_site {
    position: relative;
    justify-content: center;
    margin: 0 0 64px 0;
  }
  .footer .footer_bottom .foot_site li:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -17px;
    transform: translate(0, -50%);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #666;
  }
  .footer .footer_bottom .foot_site::after {
    content: "";
    position: absolute;
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #444;
  }
  .footer .footer_bottom .foot_customer {
    flex-direction: column;
  }
  .footer .footer_bottom .foot_customer li a {
    text-align: center;
  }
  .footer .footer_bottom .foot_customer li:not(:first-child)::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 20%;
    height: 1px;
    background: #444;
  }
  .footer .footer_bottom::after {
    bottom: -40px;
  }
  .footer .copy {
    line-height: 18px;
    word-break: keep-all;
  }
}
.side .side_scroll {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 999;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.side .side_scroll::before {
  content: "";
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f7f8f9;
  animation: scr 3s infinite;
  transition: 0.5s;
}
@keyframes scr {
  0% {
    transform: translate(-50%, 0);
    opacity: 0%;
  }
  70% {
    transform: translate(-50%, 67px);
    opacity: 100%;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 0%;
  }
}
.side .side_scroll::after {
  content: "";
  position: absolute;
  top: -122px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 28px;
  height: 100px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
.side .side_scroll span {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ddd;
  writing-mode: vertical-lr;
  letter-spacing: 5px;
  transition: 0.5s;
}
.side .side_scroll.on::before {
  background: #999;
  animation: scr 3s infinite;
}
.side .side_scroll.on::after {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.side .side_scroll.on span {
  color: #999;
}
.side .side_nav {
  position: fixed;
  bottom: 28px;
  right: 50px;
  z-index: 1000;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.side .side_nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.side .side_nav ul li {
  color: #f2f2f2;
  transition: 0.7s;
}
.side .side_nav ul li a {
  display: block;
  position: relative;
  font-size: 0;
  line-height: 18px;
  padding: 0 5px;
  text-transform: uppercase;
}
.side .side_nav ul li a::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translate(0, -50%);
  width: 10px;
  height: 10px;
  background: #e5e5e5;
  border-radius: 50%;
  transition: 0.5s;
}
.side .side_nav ul li.on a {
  font-size: 14px;
}
.side .side_nav ul li.on a::after {
  right: -22px;
  width: 14px;
  height: 14px;
  background: #fa6600;
}
.side .side_nav.on ul li {
  transition: 0.7s;
  color: #222;
}
.side .side_nav.on ul li a::after {
  background: #999;
  transition: 0.5s;
}
.side .side_nav.on ul li.on a::after {
  background: #fa6600;
}

@media (max-width: 768px) {
  .side {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */